.container {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  .background {
    fill: white;
  }

  .nut {
    cursor: pointer;
  }

  .mesh {
    fill: none;
    stroke: white;
    stroke-width: 0.1px;
  }
}
