#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}

.municipality-boundary {
  stroke: grey;
  stroke-width: .5px;
}

.region-boundary {
  stroke: green;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

div.tooltip {
  background-color: lightgrey;
  padding: 2px;
  text-shadow: #f5f5f5 0 1px 0;
  font: 12px Helvetica Neue;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}