body {
  // max-width: 960px;
  position: relative;
}

.canvasContainer {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

.gTooltip {
  font-family: "Helvetica Neue", "Helvetica", Arial sans-serif;
  position: absolute;
  width: 200px;
  min-height: 50px;
  padding: 8px;
  font-size: 12px;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, .08);
  border-radius: 2px;
  pointer-events: none;
  z-index: 1;
}

.gPlace {
  border-bottom: 1px solid rgb(130, 130, 130);
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.gHeadline {
  font-size: 16px;
}

.gSub {
  color: rgb(130, 130, 130);
}

.gValue {
  float: right;
}

.gLegend {
  font-family: "Helvetica Neue", "Helvetica", Arial sans-serif;
  width: 300px;
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

.gLegendText {
  font-size: 12px;
}

.listInline {
  padding-left: 0;
  list-style: none
}

ul {
  margin: 5px auto;
}

li {
  display: inline-block;
}

li.key {
  border-top-width: 10px;
  border-top-style: solid;
  font-size: 10px;
  width: 10%;
  height: 10px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
}