.container {
  align-self: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.municipality-boundary {
  stroke: white;
  stroke-width: .1px;
}

.region-boundary {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.hidden {
  display: none;
}

div.tooltip {
  background-color: lightgrey;
  color: black;
  padding: 2px;
  text-shadow: #f5f5f5 0 1px 0;
  font-size: 12px;
  border: 1px solid;
  border-color: grey;
  border-radius: 2px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}